* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Jasofin Sans', sans-serif;
}

body {
  background-color: #0f141f;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: -70px;
  z-index: 99;
  box-shadow: 0 0 10px #000;
  background: #141a29;
}

#chk1{
  display: none;
}

i {
  color: #fff;
  cursor: pointer;
}

nav .logo {
  flex: 1;
  color: #fff;
  margin-top: 10px;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 15px;
}

nav .search-box{
  flex: 1;
  position: relative;
}

.search-box input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: black;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  padding-right: 40px;
}

.search-box button {
  cursor:pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: blue;
}

nav ul {
  flex: 2;
  display: flex;
  justify-content:right;
  padding-top: 20px;
}

nav ul li {
  list-style:none;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 60px;
  text-transform: uppercase;
  margin-right: 40px;
}

nav ul li a:hover {
  border-bottom: 2px solid cadetblue;
}

nav .menu {
  font-size: 2.5em;
  display: none;
}

@media(max-width:1000px) {
  .search-box button {
    position: absolute;
  }
  nav ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background: #141a29;
    height: cals(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
    margin-top : -20px;
  }
  nav .menu {
    display: block;
    width: 100px;
    text-align: center;
  }
  #chk1:checked ~ ul {
    right: 0;
  }
}

@media(max-width:600px) {
  nav .logo {
    font-size: 10px;
    margin-left : 8px;
  }
  nav ul {
    width: 100%;
  }
}

/* .first-fcontent {
  margin-top: 30px;
} */

.container-image-content {
  display: flex;
  flex-direction: column;
  height: 318px;
  margin-top : 70px;
  width: 100%;
}

.image {
  height :700px;
}

.button {
  gap: 19px;
  display: flex;
  flex-direction: column;
  margin-top: 451px;
  margin-left : 80px;
  position : absolute;
  color: white;
}

.name {
  font-weight: bold;
  font-size : 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 453px;
  margin-left : 125px;
  position : absolute;
  color: white;
}

.name a  {
  color: white;
  text-decoration: none;
}

.overlay {
  opacity : 1;
  position : absolute;
  z-index: 0;
  top : 0;
  left : 0;
  width : 100vw;
  height: 100vh;
  /* background-color: rgba(0,0,0,0.5);  */
}

.share, .overlay {
  display: none;
}

.show-share {
  display : block;
}

.share {
  position: absolute;
  left : 0;
  right: 0;
  top : 30%;
  margin : auto;
  width : 50%;
  z-index : 1;
  padding : 1em;
  background-color: white;
}

.share h2 {
  margin : 0;
}

.share button {
  border: none;
  padding : .8em 1.2em;
  margin-top: 3em;
  width : 32%;
  cursor: pointer;
}

.container-lainnya {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-top : 50px;
  margin-left : 20px;
}

.name-lainnya {
  color: white;
  font-size : 25px;
  font-weight: bold;
}

.image-section-content {
  display : flex;
}

.image-content {
  border-radius:10px;
  width:230px;
  height:140px;
  margin-top : -20px;
  margin-right: 10px;
}

.footer{
  margin-top: 700px;
  background-color: #0f141f;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.sosial{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.sosial li{
  margin: 0 10px;
}
.sosial a{
  text-decoration: none;
  color: #fff;
}
.sosial a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.sosial a:hover i{
  color: blue;
}

.footer-bawah{
  background:#141a29;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bawah p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}